/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


body {
    background-color: #F0EFEB;
    padding: 0 20px;
}

#form {
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

#form .form-group {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

/* Spacing between each question */
#form > div.form-group.shiny-input-container {
    margin-top: 60px
}

#header {
    background-color: #DDBEA9;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 0 -35px 50px;
    padding: 20px 5px 40px;
    border-bottom: 1px solid #ddd;
}

h1 {
    text-align: center;
}

#header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
}

h3 {
    text-align: center;
}

#header h5 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#header #h5-container {
    width: 50%;
}

h5 {
    text-align: justify;
    position: relative;
    left: 50%;
}

.btn {
    border: 4px solid;
    padding: 12px 12px;
    font-size: 19px;
    font-weight: 800px;
}

.btn-primary {
    background-color: #B7B7A4;
    border-color: #A5A58D;
    color: black;
}

.btn-primary.shiny-bound-input:hover {
    background-color: #DDBEA9;
    border-color: #CB997E;
    color: white;
}

/* For now :focus is the same as :hover.
/* If you have a better idea for its purpose and style
   feel free to edit */
.btn-primary.shiny-bound-input:focus {
    background-color: #DDBEA9;
    border-color: #CB997E;
    color: white;
}

.btn-primary.shiny-bound-input:active {
    background-color: #CB997E;
    border-color: #CB997E;
    color: white;
}

img#join-discord {
    position: absolute;
    top: 0;
    right: 0;
    border: 0
}

#bottom-page-margin {
    margin-top: 30px;
}
